// .Text {}

.small {
    font: var(--font-s);
}
.medium {
    font: var(--font-m);
}
.large {
    font: var(--font-l);
}
.extralarge {
    font: var(--font-xl);
}

.primary {
    color: var(--color-primary);
}
.secondary {
    color: var(--color-secondary);
}
.ascent {
    color: var(--color-ascent);
}