.Button {
    box-sizing: border-box;
    margin: 0;
    padding: 13px 15px;
    border: none;
    border-radius: 10px;
    background: transparent;

    font: var(--font-m);
    color: var(--color-primary);

    transition: all 0.5s;

    &:hover {
        cursor: pointer;
    }
}

.primary {
    background-color: var(--color-ascent);
    border: 1px solid var(--color-ascent);

    &:hover {
        background: transparent;
    }
}

.outline {
    border: 1px solid var(--color-ascent);

    &:hover {
        background-color: var(--color-ascent);
    }
}

.clear {
    padding: 0;
}
