.Button {
    width: 200px;
    height: 200px;

    margin: 0;
    padding: 0;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background: none;

    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        border: none;
        color: var(--main-bg);
        background-color: var(--color-light-green);
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

.primary {
    color: var(--color-light-green);
}

.secondary {
    color: var(--color-white);
}
