:root {
    // Colors
    --main-bg: #090A1A;
    --secondary-bg: #1f2243;
    --color-primary: #ffffff;
    --color-secondary: #8B8C94;
    --color-ascent: #667FFC;
    --color-ascent-disabled: #171C3B;

    --font-family: 'Inter', sans-serif;

    // Font size
    --font-size-s: 12px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 30px;

    // Line-height
    --line-height-s: 18px;
    --line-height-m: 24px;
    --line-height-l: 30px;
    --line-height-xl: 36px;

    // fonts 
    --font-s: 500 var(--font-size-s)/var(--line-height-s) var(--font-family);
    --font-m: 500 var(--font-size-m)/var(--line-height-m) var(--font-family);
    --font-l: var(--font-size-l)/var(--line-height-l) var(--font-family);
    --font-xl: var(--font-size-xl)/var(--line-height-xl) var(--font-family);

    // size
    --size-container: 960px;

    // z-index:
    --zindex-menu: 10;
}
