.Project {
    padding-bottom: 50px;
}

.title {
    margin: 0;
    margin-bottom: 80px;
}

.projects {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

@media screen and (max-width: 780px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 400px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}