.About {
    padding-top: 100px;
    padding-bottom: 50px;
}

.title {
    margin: 0;
    margin-bottom: 50px;
}

.content {
    max-width: 975px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.avatar {
    margin-right: 20px;
    border-radius: 10px;
    border: 3px dashed var(--color-ascent);
}

.avatarImg {
    border-radius: 10px;
    transform: translate(15px, -15px);
}

.description {
    max-width: 500px;
}

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .description {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .avatar, .avatarImg  {
        width: 100%;
    }
}