// .Title {}

.section {
    font-weight: 800;
    font-size: 109px;
    line-height: 132px;
    color: #222231;
    text-align: center;
}
.small {
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    color: var(--color-primary);
}

@media screen and (max-width: 700px) {
    .section {
        font-size: 54px;
        line-height: 65px;
    }
}