@import './assets/styles/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* colors */
    --main-bg: #000;
    --second-color: #7DEF24;
    --half-black: rgba(0, 0, 0, 0.5);
} 