.Footer {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacs {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 450px) {
    .Footer {
        flex-direction: column;
        gap: 20px;
    }
}